<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration>

  <!-- For console log -->
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{yyyy-MM-dd HH:mm:ss} %-5p[%c{1}]: %m%n" />
    </layout>
  </appender>

  <!-- For http error log -->
  <appender name="HTTP-ERROR"
            class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/var/log/xa_sdk_service_side/http.error.log" />
    <!--<param name="File" value="d:/http.error.log" />-->
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
  </appender>

  <logger name="com.ginericlog">
    <level value="info" />
    <appender-ref ref="HTTP-ERROR" />
  </logger>

  <logger name="com.xingcloud">
    <level value="info" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="org">
    <level value="info" />
    <appender-ref ref="CONSOLE" />
  </logger>

</log4j:configuration>
